<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />

    <title>CF Open Leaderboard</title>
  </head>
  <body class="bg-light">
    <div class="container">
      <div class="row">
        <table class="table table-sm">
          {{#results}}
          <thead class="thead-light">
            <tr>
              <th scope="col" colspan="2">#{{counter}}</th>
              <th scope="col" colspan="2">
                <a href="https://games.crossfit.com/athlete/{{entrant.competitorId}}"
                   target="_blank">
                  {{entrant.competitorName}}</a>
              </th>
              <th scope="col" colspan="2">
                {{entrant.affiliateName}}
              </th>
            </tr>
          </thead>

          <tbody>
            <tr>
              {{#scores}}
                <th colspan="2">{{nextWod}}</th>
              {{/scores}}
              <!--{{resetWod}}-->
            </tr>
            <tr>
              {{#scores}}
                <td colspan="2">{{scoreDisplay}}</td>
              {{/scores}}
            </tr>
          </tbody>
          {{/results}}
        </table>
      </div>
    </div>
  </body>
</html>
