<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/signin.css" />

    <title>CF Open Leaderboard</title>
  </head>
  <body class="container text-center sign-in-up">

			<div class="row col">
				<form class="form-signin" method="GET">
					<h1 class="h3 mb-3 font-weight-normal">CF Open 2018 Leaderboards</h1>
					{{#alertInfo}}
					<div class="alert alert-info">
						{{alertInfo}}!
					</div>
					{{/alertInfo}}

					<div class="checkbox mb-3">
					</div>
					<a class="btn btn-lg btn-block btn-hover"
						href="/leaderboards/new">Create new</a>
					<a class="btn btn-lg btn-block btn-hover"
						href="#">Log in</a>
					<p class="mt-5 mb-3 text-muted">&copy; Idopterlabs 2018</p>
				</form>
			</div>
  </body>
</html>
